# Example: Environment variables
# Copy this file as .env and customize the variables as per requirements.

COMPOSE_PROJECT_NAME=docker_rails_example

ALLOW_EMPTY_PASSWORD=yes

DATABASE_HOST=database
DATABASE_NAME=ror_development
